{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12"> 
        <a class="btn btn-default" href="{% url 'home' %}">Back to list</a>
        </div>
    </div>
    <div class="border-separator col-md-12"></div>
    <div class="row">
        <div class="col-sm-offset-2 col-md-8"> 
       <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Blog" />
        </form> 
        </div>
    </div>
{% endblock %}
